{{- /* Range over the linted files */ -}}

{{- range .Files}}

{{- $path := .Path -}}

{{- /* Range over the file's alerts */ -}}

{{- range .Alerts -}}

{{- $error := "" -}}
{{- if eq .Severity "error" -}}
    {{- $error = "ERROR" -}}
{{- else if eq .Severity "warning" -}}
    {{- $error = "WARNING" -}}
{{- else -}}
    {{- $error = "INFO" -}}
{{- end}}

{{- /* Variables setup */ -}}

{{- $line := printf "%d" .Line -}}
{{- $col := printf "%d" (index .Span 0) -}}
{{- $check := printf "%s" .Check -}}
{{- $message := printf "%s" .Message -}}
{{- $match := printf "%s" .Match -}}

{{- /* Output */ -}}

{"source":{"name":"vale","url":"https://vale.sh"},"severity":"{{ $error }}","diagnostics":[{"message":"{{ $message }}","location":{"path":"{{ $path }}","range":{"start":{"line":"{{ $line }}","column":"{{ $col }}"}}},"severity":"{{ $error }}","code":{"value":"{{ $check }}","url":"{{ $check }}"}},{"message":"{{ $message }}","location":{"path":"{{ $path }}","range":{"start":{"line":"{{ $line }}","column":"{{ $col }}"},"end":{"line":"{{ $line }}","column":"{{ $col }}"}}},"suggestions":[{"range":{"start":{"line":"{{ $line }}","column":"{{ $col }}"},"end":{"line":"{{ $line }}","column":"{{ $col }}"}},"text":"{{ $match }}"}],"severity":"{{ $error }}"}]}

{{end -}}
{{end -}}
